<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the best gitPub ever</h1>
    <style>
        body{
            background-color: blanchedalmond;
            color: steelblue;
        }
    </style>
    <ul>
        <% drinks.forEach(function(drink) { %>
            <li><%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %></li>
          <% }); %>
    </ul>
</body>
</html>